body {
	background-color: #e8e1e1;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/*color: #d1b8b8;*/
	color: #835b5b;
}


.button {
	background-color: #000000;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 30px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.button {
		min-width: 120px;
		padding: 0 25px;
	}
}


#digicode {
	background-image: url(../../userContent/pictures/P2.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#DigGrid{
	text-align: center;
}
#DigicodeGrid,.Confirm{
	margin-left: auto;
	margin-right: auto;
}
#ConfirmButton{
	background-color: #000000;
	border: 2px solid #422800;
	border-radius: 30px;
	color: #ffffff;
	box-shadow: #422800 3px 3px 0 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	touch-action: manipulation;
}
#ConfirmButton:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.buttonFin{
	background-color: #000000;
	border: 2px solid #422800;
	border-radius: 30px;
	color: #ffffff;
	box-shadow: #422800 3px 3px 0 0;
	cursor: pointer;
	font-size:40px;
	line-height: 35px;
	text-align: center;
	touch-action: manipulation;
}
#buttonfin:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

#digicode #DigicodeGrid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	width: 500px;
}
#digicode .buttonDigi {
	border-radius: 0%;
	background-color: #000000;
	border: 1px solid #422800;
	width: 100px;
	height: 100px;
}

#digicode main {
	display: block;
	margin: auto;
}

#digicode .Confirm {
	margin-top: 10px;
	width: 500px;
}

#digicode .Confirm button {
	width: 100px;
}

#questionPage h1, #questionPage h2{
	text-align: center;
}

#questionPage img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	/*border: solid 2px black;*/
	border-radius: 2.5%;
}

#questionPage section{
	margin: 50px auto 0px auto;
	display: grid;
	grid-template-columns: auto auto;
	height: 250px;
	width: 1000px;
}

#questionPage input[type=button]{
	width: 500px;
	background-color: #c6c0c0;
}

#questionPage input[type=button]:hover{
	background-color: #a99b9b;
}

#accueil h1 a{
	text-decoration: none;
	color: #835b5b;
}

a:visited, a{
	color: blue;
}

h1{
	text-align: center;
}

#bff main, #picture main section{
	text-align: center;
}

#picture section{
	text-align: center;
	width: 977px;
	height: 550px;
	margin: 0 auto;
}

#picture img{
	height: 550px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

#accueil main{
	display: grid;
	text-align: center;
	justify-content: center;
	align-content: center;
	height: 500px;
}

#answer{
	text-decoration: underline;
}

button{
	background-color: #c6c0c0;
	height: 50px;
	width: 300px;
	margin: 2.5px;
}

button:hover{
	background-color: #a99b9b;
}

#bff main{
	display: grid;
	justify-items: center;
}

#bffPicture{
	margin-top: 100px;
}